Source: ros-galactic-turtlebot4-ignition-gui-plugins
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libignition-gui5-dev, qml-module-qtquick-extras, ros-galactic-ament-cmake, ros-galactic-ament-lint-auto <!nocheck>, ros-galactic-ament-lint-common <!nocheck>, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-turtlebot4-ignition-gui-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-extras, ros-galactic-ros-workspace
Description: Turtlebot4 Ignition Simulator GUI Plugins
