Source: ros-jazzy-turtlebot4-gz-gui-plugins
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), qml-module-qtquick-extras, ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-gz-gui-vendor, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-turtlebot4-gz-gui-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qml-module-qtquick-extras, ros-jazzy-gz-gui-vendor, ros-jazzy-ros-workspace
Description: Turtlebot4 Gazebo Simulator GUI Plugins
